body, html {
    height: 100%;
    margin: 0;
  }
.body {

    /* The image used */
    background-image: url("./untad.jpg");
    
  
    /* Full height */
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: repeat-y;
    background-size: cover;

  }

  .body2 {

   
    background-image: url("./untad.jpg");
    
  
    background-size: cover;
    height: 100%;
  }